<a href="https://colab.research.google.com/github/Aldistwn29/data-science-newbe/blob/main/UjiHipotesis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

**Contoh Pengujian Hipotesis Satu Populasi**

**Mengghitung Secara Manual**

In [5]:
nilai = [74, 49, 68, 86, 80, 71, 77, 81, 72, 77]

**t stat**

In [7]:
x_bar = np.mean(nilai)
mu = 80
s = np.std(nilai, ddof = 1)
n = len(nilai)

t_stat = (x_bar - mu) / (s / np.sqrt(n))
print(t_stat)

-2.0346749160869684

**t kritis**

In [11]:
from scipy.stats import t
t.ppf(0.05, n - 1)

-1.8331129326536337

**Menggunakan function python**

In [12]:
from scipy.stats import ttest_1samp

In [14]:
t_stat, p_value = ttest_1samp(nilai, 80)

In [15]:
t_stat

-2.0346749160869684

**Contoh Pengujian Dua Populasi**

**Dua Populasi Saling Bebas**

In [38]:
# from scipy.stats import norm
norm.rvs(loc = 70, scale = 10, size = 10).round().astype("int")

array([54, 65, 68, 73, 71, 66, 86, 95, 61, 70])

In [44]:
kelas_1 = [74, 49, 68, 86, 80, 71, 77, 81, 72, 77]
kelas_2 = [78, 57, 65, 82, 73, 76, 54, 58]

In [46]:
x_bar1 = np.mean(kelas_1)
s1 = np.std(kelas_1, ddof = 1)
n1 = len(kelas_1)

x_bar2 = np.mean(kelas_2)
s2 = np.std(kelas_2, ddof = 1)
n2 = len(kelas_2)

In [47]:
print(f"Standar deviasi kelas 1 : {s1}")
print(f"Standar deviasi kelas 2 : {s2}")

Standar deviasi kelas 1 : 10.102254973794492
Standar deviasi kelas 2 : 10.76286605483343

In [55]:
df = n1 + n2 - 2
sp = np.sqrt(((n1 - 1) * np.power(s1, 2) + (n2 - 1) * np.power(s2, 2)) / df)

In [56]:
t_stat = (x_bar1 - x_bar2) / (sp * np.sqrt(1/n1 + 1/n2))
print(t_stat)

1.140634940065406

In [57]:
from scipy.stats import ttest_ind

In [58]:
t_stat, p_value = ttest_ind(kelas_1, kelas_2, equal_var = True)

In [59]:
if p_value < 0.05:
  print("Nilai Kelas 1 dan Kelas 2 berbeda")
else:
  print("Nilai Kelas 1 dan Kelas 2 sama")

Nilai Kelas 1 dan Kelas 2 sama

In [60]:
p_value

0.2708083866673808