<a href="https://colab.research.google.com/github/Aldistwn29/data-science-newbe/blob/main/UjiHipotesis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

**Contoh Pengujian Hipotesis Satu Populasi**

**Mengghitung Secara Manual**

In [ ]:
nilai = [74, 49, 68, 86, 80, 71, 77, 81, 72, 77]

**t stat**

In [ ]:
x_bar = np.mean(nilai)
mu = 80
s = np.std(nilai, ddof = 1)
n = len(nilai)

t_stat = (x_bar - mu) / (s / np.sqrt(n))
print(t_stat)

-2.0346749160869684

**t kritis**

In [ ]:
from scipy.stats import t
t.ppf(0.05, n - 1)

-1.8331129326536337

**Menggunakan function python**

In [ ]:
from scipy.stats import ttest_1samp

In [ ]:
t_stat, p_value = ttest_1samp(nilai, 80)

In [ ]:
t_stat

-2.0346749160869684

**Contoh Pengujian Dua Populasi**

**Dua Populasi Saling Bebas**

In [ ]:
# from scipy.stats import norm
norm.rvs(loc = 70, scale = 10, size = 10).round().astype("int")

array([54, 65, 68, 73, 71, 66, 86, 95, 61, 70])

In [ ]:
kelas_1 = [74, 49, 68, 86, 80, 71, 77, 81, 72, 77]
kelas_2 = [78, 57, 65, 82, 73, 76, 54, 58]

In [ ]:
x_bar1 = np.mean(kelas_1)
s1 = np.std(kelas_1, ddof = 1)
n1 = len(kelas_1)

x_bar2 = np.mean(kelas_2)
s2 = np.std(kelas_2, ddof = 1)
n2 = len(kelas_2)

In [ ]:
print(f"Standar deviasi kelas 1 : {s1}")
print(f"Standar deviasi kelas 2 : {s2}")

Standar deviasi kelas 1 : 10.102254973794492
Standar deviasi kelas 2 : 10.76286605483343

In [ ]:
df = n1 + n2 - 2
sp = np.sqrt(((n1 - 1) * np.power(s1, 2) + (n2 - 1) * np.power(s2, 2)) / df)

In [ ]:
t_stat = (x_bar1 - x_bar2) / (sp * np.sqrt(1/n1 + 1/n2))
print(t_stat)

1.140634940065406

In [ ]:
from scipy.stats import ttest_ind

In [ ]:
t_stat, p_value = ttest_ind(kelas_1, kelas_2, equal_var = True)

In [ ]:
if p_value < 0.05:
  print("Nilai Kelas 1 dan Kelas 2 berbeda")
else:
  print("Nilai Kelas 1 dan Kelas 2 sama")

Nilai Kelas 1 dan Kelas 2 sama

In [ ]:
p_value

0.2708083866673808

**Contoh Pengujian Hipotesis Dua Populasi Berpasangan**

In [4]:
sebelum = [59, 71, 64, 75, 75, 61, 52, 66, 71, 69]
sesudah = [98, 91, 86, 72, 77, 54, 69, 89, 66, 87]

In [8]:
beda = np.array(sesudah) - np.array(sebelum)
x_beda = np.mean(beda)
sd = np.std(beda, ddof = 1)
n = len(beda)
mu = 0

In [10]:
t_stat = (x_beda - mu) / (sd / np.sqrt(n))

In [11]:
t_stat

2.6423876827871844

**Menggunakan Function phyton**

In [12]:
from scipy.stats import ttest_rel

In [13]:
t_stat, p_value = ttest_rel(sesudah, sebelum)

In [14]:
if p_value < 0.05:
  print("Nilai sesudah berbeda daripada Nilai sebelum")
else:
  print("Nilai Sesudah sama dengan Nilai Sebelum")

Nilai sesudah berbeda daripada Nilai sebelum

In [15]:
t_stat

2.6423876827871844

**Uji Perbedaan Proporsi**

**Dua Populasi Saling Bebas**

In [19]:
Perempuan_selamat = 233
total_perempuan = 314
laki_selamat = 109
total_laki = 577

In [24]:
Proporsi_perempuan = Perempuan_selamat / total_perempuan
Proporsi_laki = laki_selamat / total_laki

Prop_gabungan = (Perempuan_selamat + laki_selamat) / (total_perempuan + total_laki)

In [29]:
t_stat = (Proporsi_perempuan - Proporsi_laki) / np.sqrt(Prop_gabungan * (1 - Prop_gabungan) * (1/ total_perempuan + 1 / total_laki) )
print(t_stat)

16.218833930670097

**Menggunakan Modul Phyton**

In [30]:
from statsmodels.stats.proportion import proportions_ztest

In [31]:
proportions_ztest([Perempuan_selamat, laki_selamat], [total_perempuan, total_laki])

(16.218833930670097, 3.7117477701134797e-59)

# Melihat Tingkat Surviaval antara laki dan Perempuan

In [32]:
Proporsi_perempuan #jika dalam persen 74%

0.7420382165605095

In [33]:
Proporsi_laki # jika dalam persen 18%

0.18890814558058924